.body    {
    background-color: white;
    color: green;
    min-width: 800px;
    min-height: 400px;
    font-family: sans-serif;
    background-color: lightgrey;
}

.grid-container {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: grid;
    grid-column-gap: 2%;
    grid-template-columns: 15% 28% 25% 28%;
    grid-template-rows: 100px 400px;
}

.h1  {
    text-align: left;
    color: green;
    font-size: 5vh;
}

.h2 {
    text-align: center;
    font-size: 3.5vh;
}