<html>
    <head>
        <title>Live Sensor data</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='Presentation.css') }}" type="text/css" />
        {# please refer the solution to:
        https://stackoverflow.com/questions/31462167/serving-a-directory-of-html-and-css-in-flask-w-o-specifying-each-file-w-routes/31462739#31462739 
        comments in Flask Templates have to match Jinja standard, which requires 
        this type with the brackets and the sharp
        https://stackoverflow.com/questions/48825486/jinja-ignores-html-comments/48827113#48827113
        #}
    </head>
    <body class="body">
        <div class="grid-container">
            <div>
                <h1 class="h1">Live tracking of sensor data</h1>
            </div>
            <div>
                <h2 class="h2">Temperature tracking</h2>
            </div>
            <div>
                <h2 class="h2">Gas content tracking</h2>
            </div>
            <div>
                <h2 class="h2">Humidity</h2>
            </div>
            <div></div><!--Here starts the second line-->
            <div>
                <video width="auto" height="auto" controls autoplay>
                    <source src="{{ url_for('video_output') }}" type="video/mp4" />
                    <source src="{{ url_for('video_output') }}" type="video/ogg" />
                    <source src="{{ url_for('video_output') }}" type="video/webm" />
                </video>
            </div>
        </div>
    </body>